__pycache__
gulic.py
gurobi.lic
hello_world/target/
b_1020_alpha/a.tgz
build/main/main.pkg
dist/main
b_1020_alpha/a.tgz
build/main/main.pkg
dist/main
b_1020_alpha/a.tgz
build/main/main.pkg
dist/main
b_1020_alpha/a.tgz
build/main/main.pkg
dist/main
c++26test/
c++26test/gcc-trunk/.svn/wc.db
