__pycache__
gulic.py
gurobi.lic
hello_world/target/
b_1020_alpha/a.tgz
build/main/main.pkg
dist/main
b_1020_alpha/a.tgz
build/main/main.pkg
b_1020_alpha/a.tgz
dist/main
b_1020_alpha/a.tgz
build/main/main.pkg
dist/main
c++26test/
build
dist/build/main/main.pkg
dist/main
hello_world/target/debug/librustlib.a
hello_world/target/debug/deps/librustlib.a
json/.git/objects/pack/pack-3b6b6d16f11f05df236b6da91799e64cbe78cdf4.pack
build/main/main.pkg
dist/main
hello_world/target/debug/librustlib.a
hello_world/target/debug/deps/librustlib.a
json/.git/objects/pack/pack-3b6b6d16f11f05df236b6da91799e64cbe78cdf4.pack
