annoy==1.17.3
conan==2.6.0
gurobipy==12.0.0
hello-world==0.1.0
ipyplot==1.1.2
kdtrees==0.1.7
llist==0.7.1
maturin==1.6.0
networkx==3.3
ntplib==0.4.0
numba==0.60.0
opencv-python==4.10.0.84
pip-chill==1.0.3
plotly==5.22.0
rtree==1.2.0
scikit-learn==1.5.1
seaborn==0.13.2
shapely==2.0.4
sortedcontainers==2.4.0
tqdm==4.66.4
